- # Single row of all movies table
%tr{:class => (' adult' unless movie.rating =~ /^G|PG$/)}
	%td{:class => :more}= link_to "#{movie.title}", movie_path(movie) 
	%td= movie.rating
	%td= movie.release_date
	%td= link_to "More about #{movie.title}", movie_path(movie)
	%td= link_to "Edit info" , edit_movie_path(movie) 
	%td= link_to "Remove Movie" , movie_path(movie), :method => :delete ,data: {confirm: "Are you sure? (Reviews will be deleted as well"}